tbody {

  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: auto;
  border: 1px solid black;
  height: 850px;
}
th {
  height: 160px;
  width: auto;

}
td {

  height: 135px !important;
  width : 135px !important;
}
